h3 {
    color:cadetblue;
}

h2.old{
    font-size:25px;
    color: DarkSeaGreen;
}
h2.last{
    font-size:25px;
    color: DarkGreen;
}

a.rainbow{
    font-size:25px;
    font-weight: bold;
    background: -webkit-linear-gradient(#FF5500,#FFAA00,#F0F03D,#55FF00,#34FFF1,#45BCE4,#5D83EC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
